@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629168877722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e60c";
}

.icon-youbianjiantou:before {
  content: "\e637";
}

.icon-shenqing:before {
  content: "\e7e3";
}

.icon--_zhongxincangku:before {
  content: "\e641";
}

.icon-tikuan:before {
  content: "\e60d";
}

.icon-huankuan:before {
  content: "\e615";
}

.icon-activate:before {
  content: "\e6b2";
}

.icon-zhiliao:before {
  content: "\e621";
}

